<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>filter_trains</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.dream.service.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.dream.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.dream.filter.SecurityFilter</filter-class>
    <init-param>
      <param-name>key</param-name>
      <param-value>value</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInfoServlet</display-name>
    <servlet-name>ShowInfoServlet</servlet-name>
    <servlet-class>com.dream.service.ShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoServlet</servlet-name>
    <url-pattern>/ShowInfoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PingBiScript</display-name>
    <filter-name>PingBiScript</filter-name>
    <filter-class>com.dream.filter.PingBiScript</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PingBiScript</filter-name>
    <url-pattern>/PingBiScript</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PingBiPhone</display-name>
    <filter-name>PingBiPhone</filter-name>
    <filter-class>com.dream.filter.PingBiPhone</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PingBiPhone</filter-name>
    <url-pattern>/PingBiPhone</url-pattern>
  </filter-mapping>
</web-app>